In [1]:
import pandas as pd

In [14]:
Crime_Seoul = pd.read_excel('../Data/서울시 5대범죄 발생장소별 현황 통계(장소별).xls', 
                            header = 0,
                            usecols = 'B, C, D, E, F',
                            encoding = 'utf-8')

Crime_Seoul.head()

       구분       계  아파트 연립다세대  단독주택     노상
0       계  107835       4523  5092  32063
1      살인     142         21    25     27
2      강도     169         20    11     43
3  강간강제추행    6963        319   413   1061
4      절도   41162       1209  1340   8255

In [23]:
Crime_Seoul.drop([0], inplace=True)
Crime_Seoul.head()

       구분      계  아파트 연립다세대  단독주택     노상
1      살인    142         21    25     27
2      강도    169         20    11     43
3  강간강제추행   6963        319   413   1061
4      절도  41162       1209  1340   8255
5      폭력  59399       2954  3303  22677

In [24]:
Crime_Seoul.sort_values(by='구분',ascending=False)

       구분      계  아파트 연립다세대  단독주택     노상
5      폭력  59399       2954  3303  22677
4      절도  41162       1209  1340   8255
1      살인    142         21    25     27
2      강도    169         20    11     43
3  강간강제추행   6963        319   413   1061

In [26]:
Crime_Area = pd.read_excel('../Data/서울시 5대 범죄 발생현황 통계(구별).xls', 
                           header = 0,
                           usecols = 'B, C, E, G, I, K, M',
                           encoding = 'utf-8')
Crime_Area

     자치구      합계   살인   강도 강간강제추행     절도     폭력
0    자치구      발생   발생   발생     발생     발생     발생
1     합계  107835  142  169   6963  41162  59399
2    종로구    4057    7   10    253   1644   2143
3     중구    4184    1    9    267   1846   2061
4    용산구    4060    1    5    327   1346   2381
5    성동구    2767    1    3    132   1072   1559
6    광진구    4646    6   13    261   2220   2146
7   동대문구    3975   11    3    165   1547   2249
8    중랑구    4571    5    3    172   1533   2858
9    성북구    3434    7    8    173   1344   1902
10   강북구    3393    8    7    208   1014   2156
11   도봉구    1999    1    3    104    633   1258
12   노원구    4209    4    9    180   1538   2478
13   은평구    3883    6    4    230   1387   2256
14  서대문구    3113    4    1    202   1230   1676
15   마포구    5278    3    8    500   2094   2673
16   양천구    3882    3    3    138   1590   2148
17   강서구    5135   11    4    316   1888   2916
18   구로구    4895    7    8    328   1725   2827
19   금천구    3265    5    5    240   1141   1874
20  영등포구    5969   15    5    455   2304   3190
21   동작구    3330    1    7    396   1226   1700
22   관악구    5525    8    7    379   1979   3152
23   서초구    4708    9   13    470   1812   2404
24   강남구    7720    7   20    607   3130   3956
25   송파구    5576    6    1    288   2274   3007
26   강동구    4261    5   10    172   1645   2429

In [27]:
Crime_Area.drop([0], inplace=True)
Crime_Area.head()

   자치구      합계   살인   강도 강간강제추행     절도     폭력
1   합계  107835  142  169   6963  41162  59399
2  종로구    4057    7   10    253   1644   2143
3   중구    4184    1    9    267   1846   2061
4  용산구    4060    1    5    327   1346   2381
5  성동구    2767    1    3    132   1072   1559

In [29]:
Crime_Area.drop([1], inplace=True)
Crime_Area.head()

   자치구    합계 살인  강도 강간강제추행    절도    폭력
2  종로구  4057  7  10    253  1644  2143
3   중구  4184  1   9    267  1846  2061
4  용산구  4060  1   5    327  1346  2381
5  성동구  2767  1   3    132  1072  1559
6  광진구  4646  6  13    261  2220  2146

In [33]:
Crime_Area2 = pd.read_excel('../Data/서울시 5대 범죄 발생현황 통계2(구별).xls', 
                            encoding = 'utf-8')
Crime_Area2

,자치구,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
0,폭력,2143,2061,2381,1559,2146,2249,2858,1902,2156,...,2916,2827,1874,3190,1700,3152,2404,3956,3007,2429
1,절도,1644,1846,1346,1072,2220,1547,1533,1344,1014,...,1888,1725,1141,2304,1226,1979,1812,3130,2274,1645
2,강간강제추행,253,267,327,132,261,165,172,173,208,...,316,328,240,455,396,379,470,607,288,172
3,강도,10,9,5,3,13,3,3,8,7,...,4,8,5,5,7,7,13,20,1,10
4,살인,7,1,1,1,6,11,5,7,8,...,11,7,5,15,1,8,9,7,6,5